@import "tailwindcss";
@font-face {
	font-family: "Pixel", sans-serif;
	src: url("/fonts/PixelPurl.ttf") format("truetype");
}
body {
	font-family: "Pixel", sans-serif;
	font-size: 24px;
	background-color: #fefdfa;
	background-image:
		linear-gradient(to right, #80808042 1px, transparent 1px),
		linear-gradient(to bottom, #80808042 1px, transparent 1px);
	background-size: 36px 36px;
}

.btn {
	border-radius: 0;
	border: 2px solid;
	font-size: 20px;
	padding-top: 1px;
	padding-bottom: 1px;
}
