@import "tailwindcss";
@font-face {
  font-family: 'Pixel';
  src: url('/fonts/PixelPurl.ttf') format('truetype');
}
body {
  font-family: 'Pixel';
  font-size: 20px;
}

.grid {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(to right, #80808012 1px, transparent 1px),
    linear-gradient(to bottom, #80808012 1px, transparent 1px);
  background-size: 24px 24px;
}

.btn {
  border-radius: 0  ;
  border: 2px solid  ;
  font-size: 20px;
  padding-top: 1px  ;
  padding-bottom: 1px  ;
}

.card {
  border-radius: 0  ;
  border: 2px solid  ;
  border-color: #ebd1d194  ;
}
